@font-face {
  font-family: 'Montserrat-Black';
  src: url("../fonts/montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/montserrat/Montserrat-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito-Black';
  src: url("../fonts/nunito/Nunito-Black.woff") format("woff"), url("../fonts/nunito/Nunito-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url("../fonts/nunito/Nunito-Bold.woff") format("woff"), url("../fonts/nunito/Nunito-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito-LightItalic';
  src: url("../fonts/nunito/Nunito-LightItalic.woff") format("woff"), url("../fonts/nunito/Nunito-LightItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url("../fonts/nunito/Nunito-Regular.woff") format("woff"), url("../fonts/nunito/Nunito-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: url("../fonts/nunito/Nunito-SemiBold.woff") format("woff"), url("../fonts/nunito/Nunito-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito-Light';
  src: url("../fonts/nunito/Nunito-Light.woff") format("woff"), url("../fonts/nunito/Nunito-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1040px;
  width: 85%;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

* {
  outline: none;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 90px 0;
}

.section__title {
  width: 100%;
  text-align: center;
}

.section__first-title {
  font-family: 'Nunito-Light', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #415167;
}

.section__second-title {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
  color: #415167;
  padding-bottom: 95px;
}

.header {
  height: 40px;
  position: fixed;
  top: 70px;
  z-index: 999;
  width: 100%;
}

.header__container {
  padding-right: 5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main__slider {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  width: 50%;
}

.main__slider__block {
  position: relative;
}

.main__slider__play-video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.main__slider__photo {
  height: 100vh;
  width: 100%;
}

.main__logo-block {
  position: absolute;
  background-color: #FFFFFF;
  left: 0;
  top: 0;
  width: 30%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__logo-block__logo {
  max-width: 110px;
  max-height: 36px;
  margin-top: 70px;
}

.main__side-bar {
  position: absolute;
  background-color: #415167;
  right: 0;
  top: 0;
  width: 25%;
  height: 100vh;
}

.main__side-bar__list {
  margin-top: 160px;
  list-style: none;
  width: 100%;
}

.main__side-bar__list__item {
  text-align: center;
  width: 100%;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.main__side-bar__list__item:not(:first-of-type) {
  margin-top: 30px;
}

.main__side-bar__list__item--active span {
  font-family: 'Nunito-Bold', sans-serif;
  font-weight: 700;
}

.main__side-bar__list__text {
  font-family: 'Nunito-Light', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #EDF0F5;
  text-transform: uppercase;
  -webkit-transition: .4s;
  transition: .4s;
}

.main__side-bar__list__text:hover {
  font-family: 'Nunito-Bold', sans-serif;
  font-weight: 700;
}

.main__title {
  position: absolute;
  bottom: 70px;
  left: 9%;
  max-width: 500px;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 70px;
  color: #415167;
  text-transform: uppercase;
}

.main__title--primary {
  color: #FFFFFF;
  background-color: #C7A17A;
}

.coffee-build__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.coffee-build__list__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 282px;
}

.coffee-build__list__name {
  font-family: 'Nunito-Bold', sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: 28px;
  font-weight: 700;
  color: #232C38;
  margin-top: 40px;
}

.coffee-build__list__name__img {
  max-width: 100%;
  height: 80px;
  width: 80px;
}

.coffee-build__list__name__dsc {
  text-align: center;
  font-family: 'Nunito-Light', sans-serif;
  font-size: 16px;
  line-height: 21.82px;
  font-weight: 300;
}

@media screen and (max-width: 900px) {
  .main__slider {
    min-width: 450px;
  }
  .main__title {
    font-size: 40px;
    line-height: 60px;
    max-width: 475px;
  }
}

@media screen and (max-width: 660px) {
  .main__slider {
    display: none;
  }
  .main__side-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-image: url(../img/main_photo.jpg);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }
  .main__side-bar__list {
    display: none;
  }
  .header__container {
    padding-right: 14.5%;
  }
}

@media screen and (max-width: 450px) {
  .main__title {
    left: 4%;
    font-size: 28px;
    line-height: 40px;
    max-width: 340px;
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@media screen and (max-width: 630px) {
  .coffee-build__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .coffee-build__list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 90px;
  }
  .section__first-title {
    font-size: 15px;
    line-height: 20px;
  }
  .section__second-title {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 520px) {
  .coffee-build__list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    width: 45%;
    margin-bottom: 15px;
  }
  .coffee-build__list__name {
    font-size: 18px;
    margin-top: 20px;
  }
  .coffee-build__list__name__img {
    max-width: 50px;
    max-height: 50px;
  }
  .coffee-build__list__name__dsc {
    font-size: 11px;
  }
}
/*# sourceMappingURL=style.css.map */