@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/montserrat/Montserrat-Black.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/montserrat/Montserrat-Medium.woff') format('woff'),
    url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito-Black';
  src: url('../fonts/nunito/Nunito-Black.woff') format('woff'),
    url('../fonts/nunito/Nunito-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('../fonts/nunito/Nunito-Bold.woff') format('woff'),
    url('../fonts/nunito/Nunito-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito-LightItalic';
  src: url('../fonts/nunito/Nunito-LightItalic.woff') format('woff'),
    url('../fonts/nunito/Nunito-LightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url('../fonts/nunito/Nunito-Regular.woff') format('woff'),
    url('../fonts/nunito/Nunito-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: url('../fonts/nunito/Nunito-SemiBold.woff') format('woff'),
    url('../fonts/nunito/Nunito-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito-Light';
  src: url('../fonts/nunito/Nunito-Light.woff') format('woff'),
    url('../fonts/nunito/Nunito-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


