@media screen and (max-width: 1130px) {
    .choose-favorite {
        &__info-block {
            &__title {
                font-size: 15px;
                &--bold {
                    font-size: 20px;
                }
            }
        }
            }
    .section {
        &__second-title {
            font-size: 25px;
            line-height: 25px;
        }
    }
    .giftset {
        &__content {
            &__info {
                padding-right: 30px;
                &__character {
                    &__img {
                        margin-right: 8px;
                    }
                    &__dsc {
                        &__title {
                            font-size: 12px;
                            line-height: 18px;
                            max-height: 18px;
                        }
                        &__value {
                            font-size: 14px;
                            line-height: 20px;
                            max-height: 40px;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 960px) {
    .choose-favorite {
        &__info-block {
            &__btns {
                &__btn {
                    font-size: 10px;
                }
            }
        }
    }
    .section {
        &__second-title {
            font-size: 20px;
            line-height: 20px;
        }
        &__first-title {
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 900px) {
    .main {
        &__slider {
            min-width: 450px;
        }
        &__title {
            font-size: 40px;
            line-height: 60px;
            max-width: 475px;
        }
    }
    .choose-favorite {
        &__info-block { 
            &__title {
                font-size: 12px;
                &--bold {
                    font-size: 17px;
                }
            }
            &__dsc {
                font-size: 10px;
            }
            &__btns {
                &__btn {
                    font-size: 7px;
                }
            }
        }
        &__content {
            &__list {
                &__item {
                    &__img {
                        max-width: 60%;
                    }
                }
            }
        }
    } 
    .giftset {
        &__content {
            &__info {
                &__title {
                    font-size: 20px;
                    line-height: 24px;
                }
                &__price {
                    font-size: 16px;
                    line-height: 20px;
                }
                &__dsc {
                    font-size: 12px;
                    line-height: 18px;
                }
                &__character {
                    flex-direction: column;
                    &__dsc {
                        &__value {
                            font-size: 12px;
                            line-height: 18px;
                        }
                    }
                    &__item {
                        width: 100%;
                        justify-content: center;
                    }
                }
            }
        }    
    }
}   

@media screen and (max-width: 820px) {
    .choose-favorite {
        &__content {
            &__list {
                display: flex;
                flex-direction: column;
                align-items: center;
                &__item {
                    width: 70%;
                }
            }
        }
        &__info-block {
            &__title {
                font-size: 24px;
                &--bold {
                    font-size: 28px;
                }
            }
            &__dsc {
                font-size: 14px;
            }
        }
    }
    .giftset {
        &__content {
            justify-content: center;
            padding-top: 95px;
            &__img {
                left: 50%;
                top: -120px;
                transform: translateX(-50%);
                z-index: -1;
                max-width: 350px;
            }
            &__info {
                padding: 20px;
                text-align: center;
                &__character {
                    &__dsc {
                        text-align: center;
                    }
                    &__img {
                       &--margin {
                        margin-left: -20px;
                        margin-right: 29px;
                        }
                    }
                }
            }
        }
    }
    .section {
        &__btns {
            justify-content: space-around;
            &__btn {
                font-size: 12px;
                padding: 4px 6px;
                line-height: 17px;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .section {
        &__second-title {
            font-size: 15px;
            line-height: 15px;
        }
        &__first-title {
            font-size: 10px;
        }
    }
    .choose-favorite {
        &__info-block {
            padding: 20px;
        }
    }
}

@media screen and (max-width: 660px) {
    .main {
        &__slider {
            display: none; 
        }
        &__side-bar {
            display: flex;
            justify-content: flex-end;
            background-image: url(../img/main_photo.jpg);
            flex-direction: column;
            width: 50%;
            &__list {
                display: none;
            }
        }
        
    }
    .header {
        &__container {
            padding-right: 14.5%;
        }
    }

    .coffee-build {
        &__list {
            flex-wrap: wrap;
            &__item {
                display: flex;
                max-width: 90px;
            }
        }
    }
    .section {
            &__first-title {
                font-size: 8px;
                line-height: 15px;
            }
            &__second-title {
                font-size: 11px;
                line-height: 12px;
                padding-bottom: 60px;
            }
    }
    .choose-favorite {
        &__content {
            &__list {
                &__item {
                    height: 200px;
                }
            }
        }
        &__info-block {
            &__title {
                font-size: 14px;
                &--bold {
                    font-size: 16px;
                }
            }
            &__dsc {
                font-size: 12px;
            }
            &__btns {
                &__btn {
                    font-size: 12px;
                }
            }
        }
    }
    .giftset {
        &__content {
            &__img {
                top: -90px;
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .coffee-build {
        &__list {
            &__item {
                display: flex;
                max-width: 100%;
                width: 45%;
                margin-bottom: 15px;
            }
            &__name {
                font-size: 18px;
                margin-top: 20px;
                &__img {
                    max-width: 50px;
                    max-height: 50px;
                }
                &__dsc {
                    font-size: 11px;
                }
            }
        }
    }
    .choose-favorite {
        &__info-block {
            padding: 12px;
            &__dsc {
                font-size: 8px;
            }
            &__title {
                font-size: 10px;
                &--bold {
                    font-size: 13px;
                }
            }
        }
        &__content {
            &__list {
                &__item {
                    height: 155px;
                }
            }
        }
    }
    .giftset {
        &__content {
            padding-top: 80px;
            &__img {
                max-width: 240px;
                top: -70px;
            }
        }
    }
}


@media screen and (max-width: 450px) {
    .main {
        &__title {
            left: 4%;
            font-size: 28px;
            line-height: 40px;
            max-width: 340px;
            bottom: 50%;
            transform: translateY(50%);
        }
    }
    .choose-favorite {
        &__info-block {
            &__btns {
                &__btn {
                    line-height: 10.82px;
                    font-size: 6px;
                }
            }
            &__dsc {
                line-height: 15.82px;
            }
        }
    }
    .section {
        &__first-title {
            font-size: 6px;
        }
        &__second-title {
            font-size: 10px;
            line-height: 8px;
            color: $accentcolor;
        }
    }
}


