.coffee-build {
    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        align-items: flex-start;
        &__item {
            align-items: center;
            display: flex;
            flex-direction: column;
            max-width: 282px;
        }
        &__name {
            font-family: 'Nunito-Bold', sans-serif;
            font-size: 24px;
            font-style: normal;
            line-height: 28px;
            font-weight: 700;
            color: #232C38;
            margin-top: 40px;
            &__img {
                max-width: 100%;
                height: 80px;
                width: 80px;
            }
            &__dsc {
            text-align: center;
            font-family: 'Nunito-Light', sans-serif;
            font-size: 16px;
            line-height: 21.82px;
            font-weight: 300;
        }
        }
    }
}
